:root {
	--main-color: red;
}

.App {
	@apply flex
			justify-center
			items-center
			min-h-screen
			bg-red-50;
}

.pokedex {
	@apply bg-white
			p-4
			rounded-lg
			w-6/12
			transition-all;
}

.header {
	@apply text-white
			rounded-t-lg
			p-4
			text-2xl
			font-bold;
}

.header span {
	@apply text-base
			font-medium
			italic;
}

.form {
	@apply p-4
			flex
			flex-wrap
			flex-row
			gap-1
			bg-white;
}

.button {
	@apply bg-gray-800
			hover:bg-gray-600
			transition-all
			px-4
			py-2
			h-12
			text-white
			hover:text-white
			rounded-md;
}

.numbers {
	@apply flex-grow
			flex
			flex-row
			gap-0;
}

.input {
	@apply rounded-lg
			w-24
			border-gray-400
			border-2
			flex-grow
			h-12;
}

.button_rounded {
	@apply rounded-full;
}

.pokemon {
	@apply p-4
			bg-white;
	min-height: 24rem;
}

.loading {
	@apply m-4
			bg-gradient-to-r from-gray-200 to-gray-500
			animate-pulse
			rounded-lg
			h-96
			flex
			justify-center
			items-center
			text-lg
			font-semibold;
}

.pokemon h2 {
	@apply text-2xl
			font-semibold
			capitalize;
}

.images {
	@apply grid
			grid-cols-2
			grid-rows-2
			justify-center
			justify-items-center
			items-center;

	grid-template-areas:
		"art default"
		"art shiny";
}

.images .images_main {
	grid-area: art;
}
.images .images_default {
	grid-area: default;
}
.images .images_shiny {
	grid-area: shiny;
}

.types ul {
	@apply flex
			flex-row
			gap-2;
}
